<footer>
  <div class="header__logo">
    <img
      src="../../assets/images/brook-logo.png"
      alt="logo de Brook"
      title="logo de Brook"
    />
  </div>
  <nav>
    <ul>
      About us
      <li><a href="#" title="ir a About us">about us</a></li>
      <li><a href="#" title="ir a team">team</a></li>
      <li><a href="#" title="ir a career">career</a></li>
      <li><a href="#" title="ir a services">services</a></li>
      <li><a href="#" title="ir a contact">contact</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><a href="#" title="ir a Our blog">Our blog</a></li>
      <li><a href="#" title="ir a latest projects">Latest projects</a></li>
      <li><a href="#" title="ir a Contact us">Contact us</a></li>
    </ul>
  </nav>
  <article class="contact">
    <h3>Contact</h3>
    <p>
      <span>2005 Stokes Isle Apt. 896.</span>
      <span>ana ville 10010, USA</span>
      <span>info@yourdomain.com</span>
      <span>(+68) 120034509</span>
    </p>
    <div class="SocialMedia"></div>
  </article>
  <p>© 2019 Brook. All Rights Reserved.</p>
</footer>
