<header class="header">
  <div class="wrapper">
    <div class="header__container">
      <div class="header__logo">
        <img
          src="../../assets/images/brook-logo.png"
          alt="logo de Brook"
          title="logo de Brook"
        />
      </div>
      <nav class="menu">
        <a href="#" class="header__mobile--button" title="Mostrar menú móvil"
          ><img src="../../assets/images/menu-icon.png" />
        </a>
        <ul class="header__menu">
          <li>
            <a href="#" title="ir a la home ">home</a>
          </li>
          <li>
            <a href="#" title="ir a pages ">pages</a>
          </li>
          <li>
            <a href="#" title="ir a porfolio ">porfolio</a>
          </li>
          <li>
            <a href="#" title="ir a blog ">blog</a>
          </li>
          <li>
            <a href="#" title="ir a contact ">contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
