<header class="header">
  <div class="header__logo">
    <img
      src="./assets/images/brook-logo.jpg"
      alt="Logo de Brook"
      title="Logo de Brook"
    />
  </div>
  <h1>Brook.</h1>
  <nav>
    <ul class="header__menu">
      <li>
        <a href="#" title="" target="blank">home</a>
      </li>
      <li>
        <a href="#" title="" target="blank">pages</a>
      </li>
      <li>
        <a href="#" title="" target="blank">portfolio</a>
      </li>
      <li>
        <a href="#" title="" target="blank">blog</a>
      </li>
      <li>
        <a href="#" title="" target="blank">contact</a>
      </li>
    </ul>
  </nav>
</header>
