body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 60vh 20vh;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.header {
  background-color: pink;
  grid-column: 1/13;
  grid-row-start: 1;
  grid-row-end: 2;
}
.menu {
  background-color: purple;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}
.content {
  background-color: red;
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 4;
}
.footer {
  background-color: lightblue;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 4;
}
